/**/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');


html{
    font-size: 17px;
}


body{
    background-color: #BA5D5D;
    
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}


nav{
    display: flex;
    color: white;
    margin-left: 1em;
}


.logo-title{
    font-size: 2rem;
}



.container{
    width: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    background-color: #F4F4F4;
    color:  #454343;
    border-radius: 1em;
    box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.25);
    margin-top: 2em;
}

.headings{
    text-align: center;
    margin-top: 2em;
}

.page-title{
    font-size: 2.3rem;
    margin-bottom: 0.1rem;
}

.sub-heading{
    margin-top: 0;
    font-size: 1rem;
}



input[type=text], input[type=password], input[type=email]{
    font-family: 'Nunito', sans-serif;
    border-radius: 0.5em;
    box-sizing: border-box;
    border: 2px solid #6E6868;
    padding: 0.7em 1em;
    font-size: 0.7rem;
    width: 30em;
    background-color: rgba(255, 255, 255);
    margin-bottom: 1em;
    
}

.label{
     
    color: #454343;
    font-size: 0.9rem;



}



.input:focus{
    outline: none;
    box-shadow: 0 0 10px #b0cde6c7;
 }

 .center-button{
     text-align: center;

 }

input[type=submit]{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    background-color: #BA5D5D;
    color: white;
    border: none;
    font-size: 1.2rem;
    border-radius: 1rem;
    padding: 0.5em 2.5em;
    transition:  ease 0.8s;
    margin-top: 1em;
    margin-bottom: 0.5em;

}


input[type=submit]:hover{

    background-color: #333333;
    color: white;
    box-shadow: 2px 4px #00000025;
}

.conditions{
    font-size: 0.5rem;
    color: #989898;
    margin-bottom: 2em;
    font-weight: 500;
    text-align: center;

}

.center-form{
    display: flex;
    margin-top: 1em;
    justify-content: center;
    position: relative;

}


.password-container{
    position: relative;

}

.togglePass{
    position: absolute;
    bottom: 0%;
    right: 0%;
    transform: translate(-50%, -100%);
}


/* --- MEDIA QUERIES ---  */

/* for big screens */
@media (min-width:1900px) {
    html{
        font-size: 20px;
    }
}

/* tablets */

 @media (max-width:82em) {
    html{
        font-size: 18px;
    }

    .container{
        width: 90%;

    }

}


/* for phones or smaller screens */
@media (max-width: 41.75em) {
    html{
        font-size: 10px;
    }


    article{
        background-color: none;
    }


    input[type=text], input[type=password], input[type=email]{
        width: 100%;
    }


     nav svg{
        width: 40px;
        height: 40px;
    }
    

    .logo-title{
        margin-top: 0.5em;
        margin-left: 0.3em;
    }

    .container{
        width: 90%;


    }

    form{
        width: 80%;
    }
    

    


} 

@media (max-width: 27.2em) {



}
