@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');



 .all-comments, .all-felt, .all-replies, .all-likes{
    display: none;
}




html{
    font-size: 15px;
}

body{
    background-color: #393939;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.container{
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    flex-direction: column;
    
 
   
}

.holder{
    width: 65%;
}

/* user info contents */

.user-info{
    padding: 1em 2.5em;
    border-radius: 1em;
    background-color: #323232;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.coverphoto-container{

    position: relative;
    display: flex;


}

.cover-img{
    width: 100%;
    height: 40vh;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
    border-radius: 1em;
    margin-top: 2em;
}

.prof-photo{
    width: 6.5em;
    height: 6.5em;
    border-radius: 100%;
    -o-object-fit: cover;
       object-fit: cover;
   
       position: absolute;
       bottom: 0%;
       left: 0%;
       transform: translate(-10%, 30%);
    
}

.contents{
    margin-left: 1%;    
}

.names{
    display: flex;
    margin-top: 0.9em;
    flex-direction: row;
    position: relative;
}

.name-holder{

}

.user-name{
    margin-bottom: 0;
}

.username{
    margin-top: 0;
    font-size: 1rem;
}

.side-btn{
   display: flex;
   flex-direction: column;
   position: absolute;
right: 0;
}

.side-btn > button{
    background-color: #BA5D5D;
    border: none;
    color: white;
    font-size: 1rem;
    margin-top: 0.9em;
    padding: 0.8em;
    border-radius: 0.5em;
    padding: 0.7em 2em;
    font-family: Montserrat;
    font-weight: 600;
   
}

.side-btn > button > a {
    color: white;
    text-decoration: none;
}

.side-btn > button:hover{
    background-color: white;
    color: #BA5D5D;
}

.side-btn > button a:hover{
    background-color: white;
    color: #BA5D5D;
}
.date-joined > *{
    display: inline-block;
    margin-top: 0;
}

.calendar{
    width: 16px;
    height: 16px;
}

.follow{
    display: flex;
    font-weight: 700;
}
    

.followings{
    margin-right: 1em;
}

/* buttons */

.buttons{
    margin-top: 2em;
    display: flex;
    background-color: none;
    position: relative;

}

button{
    cursor: pointer;
}



.buttons > button{
    background-color: #1D1D1D;
    padding: 1em 3em;
    font-family: Montserrat;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 1em;
    margin-right: 3%;

    font-size: 1rem;
    text-decoration: none;

}

.buttons > button:hover{
    background-color: white;
    color: #BA5D5D;
}

.buttons > button:focus{
    background-color: black;
}

.buttons > button:focus:hover{
    color: white;
}

.buttons > .active{
    background-color: black;
}


/* links */

.links{
    margin-top: 3%;
}

/* all */

.posts-holder, .comment-holder{
    padding: 1em 2.5em;
    border-radius: 1em;
    background-color: #323232;
    margin-bottom: 3%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.user{
    font-weight: 400;
}

.user-img{
   width: 3.5em;
   height: 3.5em;
   object-fit: cover;
   border-radius: 100%;
   float: left;
   margin-right: 0.5em;
   margin-top: -0.5%;

}

.name-post{
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 0;
  
}
 

.square{
  margin-left: 0.5em;
  font-size: 0.8rem;
}
.time{
  font-size: 0.9rem;
  margin-left: 0.3em;
  font-weight: 400;
}

.username-post{
  font-size: 0.8rem;
  margin-left: 0.3em;
  font-weight: 400;
  margin-top: 0;
}


/* post contents */
.post-title{
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
  width: 90%;
  margin-top: 1.6em;
  margin-left: 2em;


}

.post-text{
  font-size: 0.8rem;
  font-weight: 400;
  width: 95%;
  max-width: 85%;
  margin-top: 0.3em;
  margin-right: 1em;
  padding-right: 1em;
  margin-left: 3em;
  color: #C2C2C2;

}

/* content actions (comment,like share) */



.actions-holder{
    padding-left: 1em;
    margin: 0;

}

.comment,
.hands-up{
    display: inline-block;
    padding-left: 0.8em;
    vertical-align: middle;
    font-size: 0.7rem;
}




.comment1,
.hands-up1{
    display: inline-block;
    vertical-align: middle;
    
}


.actions-holder p{
    display: inline-block;
    vertical-align: middle;

 
}

/* topic category  */
.topic{
    
    display: flex;
    flex-direction: row;
    float: right;
     
     font-family: 'Montserrat', sans-serif;
     font-weight: 800;
     vertical-align: middle;
     font-size: 0.8rem;
     
 
    
 }

 .topic-icon{
     margin: 0 0.3em;
 }

 .topic i, .topic p{
    vertical-align: middle;
    margin-top: 0.3em;
 }

 .topic-text{
     display: inline-block;
     vertical-align: middle;
     margin-top: 0;
     color: #C6B2B2;
 }

 /* comments */

 .comment-holder{
     position: relative;
 }

 .commenter{
    margin-top: 1.5em;
    display: flex;
 }

 .comment-indicator{
     font-size: 1.2rem;
     font-weight: 700;
     font-family: Nunito;
 }

 .arrow-pointer{
    float: left;
    margin-right: 0.7em;
 }

 .line{
    border-left: 1px solid #83838380;
    height: auto;
    margin-top: 1em;
    margin-left: 1em
    
    
}

.comment-text{
    margin-left: 1em;
    margin-top: 0.9em;

}

/*  felt */

.fill{
    width: 19px;
    height: 22px;
}

 .fill path{
    fill: white;
    stroke: #2F2F2F;
    stroke-width: 0.5px;
    
}

.fill:hover path{
    fill: none;
    stroke: white;

}

/* likes  */

.liked:hover path{
       
    fill: none;
    stroke: white;
}


.liked path{
    fill: #FF6D6D;
    stroke: #FF6D6D;
}

.left{
    margin-left: 1.8em;
    margin-top: 0.8em;
}

.down-arrow{
    display: none;
}


/* media queries */
/* small laptop screens */
@media (max-width:1200px) {


    .buttons > button{
        font-size: 0.8rem;
    }
}

    /* tablets */
    @media (max-width:62em) {
        .buttons button{
            display: none;
        }

        .buttons .down-arrow{
            display: block;
            /* position: absolute;
            left: 55%;
            margin-top: 1.5%; */
        }

    }
    @media (max-width:62em) {
      
        .buttons{
            flex-direction: column;
             width: 100%;
         
        }

        .buttons > button{
            border-radius: 0;
            border: 1px solid #1D1D1D;
            margin: 0;
            
        }

        .buttons.responsive-list button{
            display: block;
        }
        
        .holder{
            width: 80%;
        }

    }

    /* for phones or smaller screens */
@media (max-width: 41.75em) {
     html{
         font-size: 13px;
     }

     
}

/* much more smaller screens */
@media (max-width: 27.2em) {
    html{
        font-size: 8px;
    }

    .cover-img{
        height: 25vh;
    }

    .holder{
        width: 90%;
    }
}